html {
  background-color:# 35800);
  background-image: url(/home/hotel/PROJECTS/Portfolio/Images/poiu.jpg );
}

body{
  color: white;
width: 600px;
margin : 0 auto;
padding: 0 20px 20px 20px;
border :2px solid black;
}

footer{
  background: black;
  color: white;
  padding: 10px 10px 10px 10px;
}
p{
  font-weight:bold;
  font-size: 15px;
  border-style: none;
  color: black;
}

h1{
  color: rbga(255, 255, 255, 128);
font-family: inherit;
font-style: oblique;
text-align-last: center;
}
ul {
color:black;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
